<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110456586-1"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110456586-1');
</script>
<!-- Hotjar Tracking Code for https://ehallpass-d65b2.firebaseapp.com/#9 -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:695031,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<title>Numericcal Alpha</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="jquery.min.js"></script>
<script src="tableContent.js"></script>
<script src="perfData.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="z-index:4; background:#292929;font-size: 15px;line-height:1.5;">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <img src="images/white_tree.png" style="height: 2.5em"/>
</div>


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-center">
      <img src="images/numericcal_logo.png" class="w3-margin-right" style="width:100%">
      <p> Numericcal Public Alpha </p>
      <a href="http://numericcal.com/#ContactPage">Sign up for private beta</a>
    </div>
    <div class="w3-container w3-center">
      <a href="http://numericcal.com/#ContactPage" class="w3-button w3-center"><i class="fa fa-envelope"></i></a>
    </div>
    <p style="text-align:center">Need more speed? Contact us about our acceleration solutions.  </p>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>Overview</a>
    <a href="https://medium.com/@numericcal/alpha-release-of-numericcal-platform-45fce19b28c3" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>Docs</a>
    <!--
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
    -->
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <!--
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Shares</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>
-->

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="">
        <h5>Neural Networks</h5>
        <div class="w3-responsive">
          <table class="w3-table-all w3-striped w3-white" id="NNTable">
            <tr class="w3-grey">
              <th onclick="w3.sortHTML('#NNTable', '.item', 'td:nth-child(1)')"><i class="fa fa-sort"></i>&nbsp;Model ID</th>
              <th>Description</th>
              <th onclick="w3.sortHTML('#NNTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort"></i>&nbsp;Accuracy</th>
              <th onclick="w3.sortHTML('#NNTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort"></i>&nbsp;Size</th>
              <th class="w3-center">Detailed Info</th>
              <th class="w3-center">Review Speed</th>
            </tr>
            <tr class="item" v-for="i in items">
                <td> {{ i.message[0] }}</td>
                <td> {{ i.message[1] }} </td>
                <td> {{ i.message[2] }} </td>
                <td> {{ i.message[3] }} </td>
                <td class="w3-center"> <a href="#" v-bind:onclick="i.message[6]" class="" style="padding:0px"><i class="fa fa-info-circle"></i></a> </td>
                <!--<td class="w3-center"> <a v-bind:href="i.message[5]"><i class="fa fa-line-chart"></i></a> </td>-->
                <td class="w3-center"> <a v-bind:onclick="i.message[5]"><i class="fa fa-line-chart"></i></a> </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
            <script>

            function createModal(index) {
              var bdy = document.getElementsByTagName("body")[0];
              bdy.appendChild("<p> Hellp </p>");
              //document.write("<p> Hellp </p>");
            }

            var modeltoSha = swap(ID2ModelName);
            //var sha_array = getVisionModelId();
            var info_array = getVisionModels();
            var messages = [];
            for (var i in info_array) {
              //for (var j in info_array[i]) {
                messages.push({"message": [info_array[i]["Model Id"], info_array[i]["Description"], info_array[i]["Accuracy"] + "%", info_array[i]["Size"], "createModal("+i+")", "graph.html?name="+modeltoSha[info_array[i]["Model Id"]], "document.getElementById("+i+").style.display = 'block'"]})
              //}
            }
            var table1 = new Vue({
              el: '#NNTable',
              data: {
                items: messages
                /*[
                  { message: ["a", "b", "a", "b", "a", "b"] },
                  { message: 'Bar' }
                ]*/
              }
            });
            function swap(json){
              var ret = {};
              for(var key in json){
                  ret[json[key]] = key;
              }
              return ret;
            }
            function closeModal() {
              var cols = document.getElementsByClassName('w3-modal');
              for(i=0; i<cols.length; i++) {
                cols[i].style.display = 'none';
              }
            }

            </script>
            <div id="ll">
            <div v-for="i in objects" id="ModalPopup">
            <div v-bind:id='i.info[0]' class='w3-modal' >
              <div class='w3-modal-content'>
                <div class='w3-container'>
                  <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                  <h3>{{ i.info[1] }}</h3>
                  <table class='w3-table w3-bordered w3-center'>
                    <tr>
                      <th>Runtime Engine</th>
                      <th>{{ i.info[2] }}</th>
                    </tr>
                    <tr>
                      <th>Paper URLs</th>
                      <th>{{ i.info[3] }}</th>
                    </tr>
                    <tr>
                      <th>Data URLs</th>
                      <th id="paperlink"><span v-for="l in objects"><a v-bind:href="l"> {{l}} </a></span></th>
                    </tr>
                    <tr>
                      <th>Download size</th>
                      <th>{{ i.info[5] }}</th>
                    </tr>
                    <tr>
                      <th>Description</th>
                      <th>Classification</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
          <script>
          var models = getVisionModels();
          var info = []
          var paperURL = [];
          for (var i in models) {
            var sha = getVisionModelId(i);
            console.log(getVisionModelDetails(sha));
            var temp = []
            //getVisionModelDetails
            //info.push({"info": [i, ID2ModelName[sha], models[i]["Runtime Engine"], models[i]["Paper URLS"], models[i]["Data URLS"], models[i]["Download Size"], models[i]["Description"] ]})
            paperURL.push(getVisionModelDetails(sha)["Paper URLs"]);
            info.push({"info": [i, ID2ModelName[sha], getVisionModelDetails(sha)["Runtime Engine"], "paper", getVisionModelDetails(sha)["Data URLs"], getVisionModelDetails(sha)["Download size"], getVisionModelDetails(sha)["Description"] ]});
          }
          var table2 = new Vue({
            el: '#ll',
            data: {
              objects: info
              /*[
                { message: ["a", "b", "a", "b", "a", "b"] },
                { message: 'Bar' }
              ]*/
            }
          });
          /*for (var i in paperURL) {
            paperURL[i] = {"links" : paperURL[i]}
          }*/
          var link1 = new Vue({
            el: '#paperlink',
            data: {
              objects: paperURL
              /*[
                { message: ["a", "b", "a", "b", "a", "b"] },
                { message: 'Bar' }
              ]*/
            }
          });
          </script>
  <!-- END -->

  <!-- End page content -->

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
